html{
	font-size: 16px;
}

body{
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
}

.navbar{
	font-size: 1.1rem;
}

.bg-1{
  background-color: #00bcd4;
  text-align: center;
  padding: 1.0rem;
  color: #ffffff;
}

#profile{
	padding: 0.8rem;
}

header h3{
	font-family: 'Hammersmith One', sans-serif;
	color: #ffffff !important;
}

header h5{
	color: #000000;
}

.btn-outline-secondary{
	margin-top: 0.5rem;
	color: #fff;
}

#about{
	background-color: #ffffff;
	padding: 2rem 0.5rem;
}

h3{
	color: #00bcd4 !important;
}

.fa{
	color: #00bcd4;
}

#bg-2{
	background-color: #f7f7f7;
}

#doughnut,#doughnut2,#doughnut3,#doughnut4{
  position: absolute;
}
#skill1,#skill2,#skill3,#skill4{
  position: relative;
}

/*Media Queries*/
 @media (max-width: 767px) {
    .navbar .container {
      width: 100%;
    }
  }