html{
	font-size: 16px;
}

body{
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
}

.navbar{
	font-size: 1.2rem;
}

.bg-1{
  background-color: #00bcd4;
  text-align: center;
  padding: 1.0rem;
  color: #ffffff;
}

#profile{
	padding: 0.8rem;
}