html {
	font-size: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
}

.navbar {
	font-size: 1.3rem;
	border-bottom: 2px solid #607D8B; 
}


#bg-1 {
  background-color: #00bcd4;
  text-align: center;
  padding: 1.0rem;
  color: #ffffff;
 
}

#profile{
 margin-top: 5.0rem;
}


#profile {
	padding: 0.8rem;
	-webkit-animation-duration: 2s; 
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
}

#name {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
    
}

#title {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	color: #ffffff;

}

#about {
	background-color: #f7f7f7 !important;
}

header h3 {
	font-family: 'Hammersmith One', sans-serif;
	color: #ffffff;
}


.btn-outline-secondary {
	margin-top: 0.5rem;
	color: #fff;
}

#about {
	background-color: #ffffff;
	padding: 2rem 0.5rem;
}

#skills h3 {
	color: #ffffff;
	padding: 0.9rem 0;
}

.fa {
	color: #00bcd4;
}

#skills {
	background-color: #00bcd4;
}

.heading {
	color: #00bcd4;
	padding: 0.9rem 0;
}

.row {
	padding: 1.2rem 0;
}

.tab-pane img {
	border-radius: 10px;
}

#message {
	background-color: #f7f7f7;
	overflow: hidden;
}

/*Skills circles*/
#doughnut1,#doughnut2,#doughnut3,#doughnut4,#doughnut5,#doughnut6,#doughnut7,#doughnut8 {
  position: absolute;
}

#skill1,#skill2,#skill3,#skill4,#skill5,#skill6,#skill7,#skill8 {
  position: relative;
}

.form-group {
	margin: 0 auto;
	max-width: 800px;
	padding-top: 0.8rem;
}

.form-group #textarea {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 2rem;
}

footer h3 {
	color:  #ffffff !important;
}

footer {
	background-color: #607D8B;
}

/*Media Queries*/
 @media (max-width: 767px) {
    .navbar .container {
      width: 100%;
    }
  }